body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

#result_area {
	width: 100%;
	margin-bottom: 10px;
}
#result_message {
	max-height: 300px;
	overflow-y: auto;
}
.link-item {
	margin-bottom: 5px;
	word-break: break-all;
}
